* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

/* table and header  */

header {
    background-color: #050503;
    color: #fafafa;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.panel {
    max-height: 800px;
}

.admin-container {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
    margin: auto;

}

.editing {
    max-width: 1000px;
    width: 100%;

    margin-right: 450px;
}

table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px;
    font-size: 16px;
    overflow-x: auto;
    /* Enable horizontal scrolling on small screens */
}

th,
td {
    padding: 15px 20px;
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    background-color: #3e39a0;;
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    z-index: 1;
}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

tr:hover {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.416));
}

/* button  */

button {
    background-color: #7c73e6;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(10, 59, 110, 0.8) 0 -3px 0 inset;
    color: white;
    cursor: pointer;
    height: 42px;
    padding: 0 18px;
    transition: box-shadow 0.25s, transform 0.25s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 15px;
}

button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(10, 59, 110, 0.8) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.Edit {
    background-color: rgba(21, 204, 141, 1);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(13, 166, 113, 0.8) 0 -3px 0 inset;
}

.Delete {
    background-color: rgba(221, 79, 62, 1);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(197, 69, 55) 0 -3px 0 inset;
}

.Edit:hover {
    background-color: rgba(21, 204, 141, 1);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(13, 166, 113, 0.8) 0 -3px 0 inset;
}

.Delete:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(197, 69, 55) 0 -3px 0 inset;
}

.adminInput:focus {
    border: solid 2px rgba(15, 90, 170, 0.7);
    outline: 3px solid transparent;
}

.logout-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/* Change Password Buttons */
.change-password-cell {
    text-align: center;
    box-shadow: rgb(0, 0, 0) 0 2px 4px, rgba(81, 57, 133, 0.3) 0 7px 13px -3px, rgb(0, 0, 0) 0 -3px 0 inset;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    border-width: 0px;
    margin-top: 15px;
    vertical-align: middle;
}

.change-password-button {
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.change-password-button i {
    font-size: 20px;
}

.centered-content {
    text-align: center;
}

/* inputs  */

table input {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    border: solid 2px rgb(182, 182, 182);
    padding: 5px 8px;
    outline: none;
    transition: 0.2s;
}

.passwords input {
    margin-top: 20px;
    text-indent: 1px;
}

/* make it responsive  */

@media only screen and (max-width: 768px) {
    table {
        font-size: 18px;
    }

    thead {
        display: none;
    }

    tbody {
        display: block;
    }

    tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }

    td {
        display: block;
        text-align: left;
    }

    td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-bottom: 5px;
    }

    .passwords input {
        margin-left: 20px;
    }
}



@media only screen and (max-width: 480px) {
    /* Styles for screens up to 480px wide */

    .admin-container {
        margin: 10px auto;
        padding: 0 5px;
    }



    table {
        font-size: 12px;
    }

    .passwords input {
        margin-left: 20px;
    }

}

@media only screen and (max-width: 320px) {
    /* Styles for screens up to 320px wide */

    table {
        font-size: 10px;
    }

    th,
    td {
        padding: 10px;
    }

    .admin-container {
        margin: 10px auto;
        padding: 0 5px;
    }

}
.field{

    width:50%;
    color: aqua;
}